*{
    font-family: 'Gothic A1', sans-serif;
}

.header{
    font-size:40px;
}

.sub-header{
    font-size:26px;
}

.lead{
    font-size:24px;
}

.text{
    font-size:20px;
}

.brand-font{
    font-family: 'Kaushan Script', cursive;
}

.header-font{
    font-family: 'Abril Fatface', cursive;
}

.italic{
    font-style: italic;
}

.pagination{
    color:rgb(31,31,31);
    font-weight:bold;
}


@media only screen and (max-width: 576px){
    .header{
        font-size:28px;
    }
    .sub-header{
        font-size:22px;
    }
    .lead{
        font-size:20px;
    }
}