*{
    font-family: 'Gothic A1', sans-serif;
}

.header{
    font-size:40px;
}

.sub-header{
    font-size:26px;
}

.lead-text{
    font-size:24px;
}

.text{
    font-size:20px;
}

.brand-font{
    font-family: 'Kaushan Script', cursive;
}