.panel{
    width:30%;
    margin:1%;
    display:inline-block;
}

.panel-title{
    margin-bottom:5px;    
}

.panel-img{
    width:300px;
    height:220px;
    object-fit: cover;
    border-radius:10px;
}

.panel-img:hover{
    opacity:0.9;
}

/*view page*/
.view-image-wrapper{
    text-align:center;
}


/*make gallery responsive*/
@media only screen and (max-width: 768px){
    .panel{
        display:inline-block;
        width:45%;
    }
    .panel-img{
        width:200px;
        max-height:80px;
    }
}


@media only screen and (max-width:576px){
    .panel-title{
        display:none;
    }
}