/*
PAGE CONTENT
*/
#content_wrapper{
    float:left;
    width:100%;
    z-index:1;
    margin-bottom:50px;
}




/*footer settings*/
footer{
    padding:5px 50px;
    background-color:#121212;
    box-shadow:1px -1px 1px black;
    text-align:center;
    position:fixed;
    bottom:0px;
    width:100%;
    
}

footer ul li{
    display:inline-block;
    font-size:28px;
}

footer ul li a{
    display:block;
}

footer ul li a:hover{
    opacity:0.8;
}


@media only screen and (max-width:768px){
    #content_wrapper{
        width:100%;
        margin-top:50px;
    }
    footer{
        padding:3px;
        position:fixed;
        bottom:0;
        width:100%;
    }
    footer ul li{
        font-size:22px;
    }
}