<section>

    <article class="bottom-spacing">
        <div class="full">
            <h1 class="header white text-center">Gallery</h1>
        </div>
        <div class="offset page-layout">
        <?php 
        while($photos = $r->fetch()){
            echo 
            "<div class='panel text-center'>
                <h3 class='panel-title lead text-center lead'>{$photos->getTitle()}</h3>
                <a class='panel-link' href='view.php?id={$photos->getPhotoId()}'><img class='panel-img' src='{$photos->getFilePath()}' /></a>
            </div>
            ";
        } 
        
        ?>
        </div>
    </article>

</section>