<div id="index-wrapper" class="offset page-layout">

    <!--header-->
    <header>
        <h1 class="text-center header brand-font primary">AX PHOTOGRAPHY</h1>
    </header>

    
    <!--recent pics-->
    <!--show the 6 most recent uploaded pictures-->
    <section class="top-spacing">
        <article>
            <h3 class="text-left sub-header tertiary">Recent Uploads</h3>
            <!--include the top 3 recent uploads-->
            <?php
            while($row = $r->fetch()){
                echo 
                "<div class='recent-panel'>
                    <h3 class='lead dark text-left'>{$row->getTitle()}</h3>
                    <img class='recent-img' src='{$row->getFilePath()}' />
                </div>
                ";
            }
            ?>
            
        </article>
    </section>
    
    <!--show social media-->
    <section class="top-spacing">
        <article>
            <h3 class="text-left sub-header tertiary">Social Media</h3>
            <ul>
                <li class="list-inline sub-header side-spacing"><a href="#" class="dark"><i class="fab fa-flickr"></i></a></li>
                <li class="list-inline sub-header"><a href="#" class="dark"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </article>
    </section>
    
    
    <!--view gallery-->
    <section class="top-spacing">
        <article class="text-center">
            <a class="btn" href="gallery.php">View Gallery</a>
        </article>
    </section>


</div>