<div id="index-wrapper">

    <!--header-->
    <header class="full page-layout">
        <h1 class="text-center header brand-font white">AX PHOTOGRAPHY</h1>
        <h3 class="text-center neutral sub-header">- Hull Photographer -</h3>
    </header>

    
    <!--recent pics-->
    <!--show the 6 most recent uploaded pictures-->
    <section class="top-spacing offset page-layout">
        <article class="text-center">
            <h3 class="text-center sub-header tertiary">Recent Uploads</h3>
            <!--include the top 3 recent uploads-->
            <?php
            while($row = $r->fetch()){
                echo 
                "<div class='recent-panel text-center'>
                    <h3 class='lead dark'>{$row->getTitle()}</h3>
                    <a href='view.php?id={$row->getPhotoId()}'><img class='recent-img' src='{$row->getFilePath()}' /></a>
                </div>
                ";
            }
            ?>
            
        </article>
    </section>
    
    
    <!--view gallery-->
    <section class="top-spacing bottom-spacing">
        <article class="text-center">
            <a class="btn" href="gallery.php">View Gallery</a>
        </article>
    </section>


</div>