<header>
    <div id="header-text">
        <h1>AX PHOTOGRAPHY</h1>
        <h3>Professional Photographer Based in Hull</h3>
    </div>
    
</header><!--end of header-->


<section id="about" class="offset">
    <article>
        <h2>ABOUT</h2>
        <p>Donec iaculis ex sed ipsum vehicula dapibus. Duis lectus mi, dapibus a dui commodo, facilisis aliquam lorem. Curabitur nunc nisi, vehicula ac neque eu, ullamcorper commodo sem. Quisque nibh justo, posuere eu augue non, faucibus facilisis nulla. Praesent rutrum nisl eu varius feugiat. Etiam eget lacus scelerisque, faucibus metus ac, vehicula turpis. Proin tincidunt turpis in blandit porttitor. Aliquam venenatis ullamcorper euismod. Mauris sed ligula vel nulla vulputate malesuada. Praesent quis sapien nec quam porta cursus vel sit amet dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec tincidunt magna, interdum iaculis mauris. Pellentesque in leo ac nulla convallis sollicitudin. Fusce rutrum sed eros non placerat. Sed sed justo sed erat rutrum bibendum. Suspendisse commodo arcu sed nibh sollicitudin pellentesque.</p>
        <p>Donec iaculis ex sed ipsum vehicula dapibus. Duis lectus mi, dapibus a dui commodo, facilisis aliquam lorem. Curabitur nunc nisi, vehicula ac neque eu, ullamcorper commodo sem. Quisque nibh justo, posuere eu augue non, faucibus facilisis nulla. Praesent rutrum nisl eu varius feugiat. Etiam eget lacus scelerisque, faucibus metus ac, vehicula turpis. Proin tincidunt turpis in blandit porttitor. Aliquam venenatis ullamcorper euismod. Mauris sed ligula vel nulla vulputate malesuada. Praesent quis sapien nec quam porta cursus vel sit amet dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec tincidunt magna, interdum iaculis mauris. Pellentesque in leo ac nulla convallis sollicitudin. Fusce rutrum sed eros non placerat. Sed sed justo sed erat rutrum bibendum. Suspendisse commodo arcu sed nibh sollicitudin pellentesque.</p>
        <p>Donec iaculis ex sed ipsum vehicula dapibus. Duis lectus mi, dapibus a dui commodo, facilisis aliquam lorem. Curabitur nunc nisi, vehicula ac neque eu, ullamcorper commodo sem. Quisque nibh justo, posuere eu augue non, faucibus facilisis nulla. Praesent rutrum nisl eu varius feugiat. Etiam eget lacus scelerisque, faucibus metus ac, vehicula turpis. Proin tincidunt turpis in blandit porttitor. Aliquam venenatis ullamcorper euismod. Mauris sed ligula vel nulla vulputate malesuada. Praesent quis sapien nec quam porta cursus vel sit amet dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec tincidunt magna, interdum iaculis mauris. Pellentesque in leo ac nulla convallis sollicitudin. Fusce rutrum sed eros non placerat. Sed sed justo sed erat rutrum bibendum. Suspendisse commodo arcu sed nibh sollicitudin pellentesque.</p>
    </article>
    
</section><!--end of about section-->






<section id="social-media" class="offset">
    <article>
        
        <ul>
            
            <li>
                <a href="#">FLIKR</a>
            </li>
            
            <li>
                <a href="#">INSTAGRAM</a>
            </li>
            
        </ul>
        
    </article>
    
</section><!--end of social media-->


<section id="call-to-action" class="offset">
    
    <article>
        <a href='#' class='btn'>VIEW GALLERY</a>
    </article>
    
</section><!--end of call to action-->