<section class="offset">
    <h1 class="header primary text-center">Welcome</h1>
</section>

<section id="login" class="offset page-layout">

    <article>
    
        <form action="login.php" method="POST">
            
            <h2 class="tertiary sub-header">Login</h2>
            <input type="text" name="email" placeholder="email@domain.com" /><br />
            <input type="password" name="pass" placeholder="password" /><br />
            <input type="submit" class="btn btn-small" value="Login" />
        
        </form>
    
    
    </article>


</section>


<section id="register" class="offset page-layout bottom-spacing">

    <article>
    
    
        <form action="register.php" method="POST">
            
            <h2 class="tertiary sub-header">Register</h2>
            <input type="text" name="first_name" placeholder="first name" /><br />
            <input type="text" name="last_name" placeholder="last name" /><br />
            <input type="text" name="username" placeholder="username" /><br />
            <input type="text" name="email" placeholder="email@domain.com" /><br />
            <input type="password" name="pass" placeholder="password" /><br />
            <input type="password" name="confirm_pass" placeholder="confirm password" /><br />
            <input type="submit" class="btn btn-small" value="Register" />
        
        </form>
    
    
    </article>

</section>



