<section id="login">

    <article>
    
        <form action="login.php" method="POST">
            
            <span>Login</span>
            <input type="text" name="email" placeholder="email@domain.com" />
            <input type="password" name="pass" placeholder="password" />
            <input type="submit" value="Login" />
        
        </form>
    
    
    </article>


</section>



<section id="register">

    <article>
    
    
        <form action="login.php" method="POST">
            
            <span>Register</span>
            <input type="text" name="first_name" placeholder="first name" />
            <input type="text" name="last_name" placeholder="last name" />
            <input type="text" name="email" placeholder="email@domain.com" />
            <input type="password" name="pass" placeholder="password" />
            <input type="password" name="confirm_pass" placeholder="confirm password" />
            <input type="submit" value="Register" />
        
        </form>
    
    
    </article>

</section>



