<section class="offset">
    <article>
        <h1 class="header white text-center header-font">WELCOME BACK</h1>
    </article>
</section>


<section id="login" class="offset page-layout bottom-spacing">

    <article>
        
        <h2 class="primary sub-header text-center small-bottom-spacing header-font">Login</h2>
        
        <form action="login.php" method="POST">
            <input type="text" name="email" placeholder="email@domain.com" class="login-input" /><br />
            <input type="password" name="pass" placeholder="password" class="login-input" /><br />
            <input type="submit" class="btn btn-small login-btn" value="Login" />
        
        </form>
    
    
    </article>


</section>


<section id="register" class="offset page-layout bg-primary bottom-spacing">

    <article>
    
        <h2 class="neutral sub-header text-center header-font">Or Register...</h2>
        
        <form action="register.php" method="POST" class="register small-top-spacing">
            <input type="text" name="first_name" placeholder="first name" class="login-input" /><br />
            <input type="text" name="last_name" placeholder="last name" class="login-input" /><br />
            <input type="text" name="username" placeholder="username" class="login-input" /><br />
            <input type="text" name="email" placeholder="email@domain.com" class="login-input" /><br />
            <input type="password" name="pass" placeholder="password" class="login-input" /><br />
            <input type="password" name="confirm_pass" placeholder="confirm password" class="login-input" /><br />
            <input type="submit" class="btn btn-small login-btn bg-dark neutral" value="Register" />
        
        </form>
    
    
    </article>

</section>



