<section>

    <h1 class="offset header white text-center header-font">UPLOAD IMAGE</h1>
    
    <article class="page-layout offset">
        
        <form action="upload.php" method="POST" class="text-center small-top-spacing" enctype="multipart/form-data" id="upload_form">
            <p>
                <input type="text" name="title" placeholder="Image Title" class="login-input" maxlength="18" title="enter a title for your image" />
            </p>
            
            <p>
                <textarea name="description" class="login-input" placeholder="Image Description" maxlength="200" title="enter a brief description about the uploaded image"></textarea>
            </p>
            
            <p class="text-left">
                <input type="file" name="file" id="file" class="file" title="Select a file from your device"/>
            </p>
            
            <input type="submit" name="submit" class="btn btn-small login-btn" value="Upload" id="upload" title="upload your image" />
        </form>
        
        <?php
        if(isset($success)){echo "<h3 class='lead primary text-center top-spacing'>$success</h3>";}
        ?>
        
        <p class="text-center dark" id="file_message"></p>
        <script>file_upload();</script>
        
    </article>
    
    
</section>