/*
button styling
*/

.btn{
    box-shadow: 2px 0px 2px 1px rgb(31,31,31);
    padding:12px 20px;
    border-radius:10px;
    text-decoration:none;
    background-color:#226666;
    color:rgb(251,253,255);
    font-weight:bold;
    font-style:italic;
    font-size:20px;
}

.btn:hover{
    box-shadow:0px 0px 0px;
}

.btn:active{
    box-shadow: -2px 0px 5px 1px rgb(31,31,31) inset;
}

.btn-small{
    padding:3px 10px;
    font-size:14px;
    box-shadow:0px 0px 0px;
}
.btn-small:active{
    box-shadow: -2px 0px 2px 1px rgb(31,31,31) inset;
}