/*
DEFAULT STYLINGS
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

body{
    font-family:sans-serif;
}

li{
    list-style: none;
}

.btn{
    border:1px solid black;
    padding:5px 15px;
    border-radius:10px;
    text-decoration:none;
}
.btn:hover{
    opacity:0.9;
}

.offset{
    width:80%;
    margin:auto;
    padding:20px;
}

/*
SIDE BAR
*/
#sidebar-wrapper{
    float:left;
    height:100vh;
    width:20%;
    background-color:rgb(251,253,255);
    position:fixed;
}

#sidebar-left{
    width:15%;
    float:left;
    height:100vh;
    background-color:white;
    padding:10px 5px;
    border-right:1px solid grey;
}
#sidebar-left a{
    color:black;
    font-size:22px;
    text-align:center;
    display:block;
}

#sidebar-right{
    width:85%;
    float:left;
}

.nav-title{
    text-align:center;
    padding:30px 0px;
}
.nav-title a{
    color:rgb(85,122,149);
    text-decoration:none;
    font-family: 'Kaushan Script', cursive;
    font-style:italic;
    font-size:18px;
}
.nav-title a:hover{
    opacity:0.8;
}

#sidebar-nav li a{
    display:block;
    text-align:left;
    padding:20px 10px;
    text-decoration: none;
    color:black;
    border-top:1px solid grey;
}
.bottom{
    border-bottom:1px solid grey;
}

#sidebar-nav li a:hover{
    background-color:rgb(93,92,97);
    color:white;
}

#user-link{
    position:absolute;
    bottom:0px;
    width:85%;
}
#user-link a{
    display:block;
    padding:22px 10px;
    text-decoration:none;
    color:black;
    border-top:1px solid grey;
}
#user-link a:hover{
    background-color:rgb(93,92,97);
    color:white;
}


/*
PAGE CONTENT
*/
#content-wrapper{
    float:right;
    width:80%;
}